[submodule "wheely.core"]
	path = wheely.core
	url = https://github.com/nxsaloj/wheely.core.git
[submodule "wheely.frontend"]
	path = wheely.frontend
	url = https://github.com/nxsaloj/wheely.frontend.git
